<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.fusesource.ide.launcher.camelContext">
<stringAttribute key="M2_GOALS" value="clean package camel:run"/>
<booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fuse-start"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fuse-start"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/taneem/workspace/fuse-start"/>
<stringAttribute key="rider.file" value="file:/home/taneem/workspace/fuse-start/src/main/resources/META-INF/spring/camel-context.xml"/>
</launchConfiguration>
