<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.fusesource.ide.launcher.camelContextNoTests">
<stringAttribute key="M2_GOALS" value="clean package camel:run -Dmaven.test.skip=true"/>
<booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/camel-rest"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="camel-rest"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/taneem/workspace/camel-rest"/>
<stringAttribute key="rider.file" value="file:/home/taneem/workspace/camel-rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml"/>
</launchConfiguration>
